<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Guru99LoginTestSuite">

    <listeners>

        <listener class-name="utils.RetryListener"/>
        <listener class-name="utils.TestListener"/>

    </listeners>

    <test name="LoginTests">

        <classes>
            <class name="tests.Guru99LoginTest"/>
        </classes>

    </test>

</suite>
